*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --oxford-blue: #0A122A;
    --mikado-yellow: #FEC601;
}
body{
    background-color: var(--oxford-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, serif;
}

#title{
    color: white;
    font-size: 3.5em;
}

.display{
    border: 2px dashed white;
    width: stretch;
    color: aqua;
    text-align: center;
    font-size: 1.5em;
}

#restart,#next-round{
    background-color: aqua;
    color: white;
    padding: 5px 10px;
    width: 60%;
    border-radius: 12px;
    font-size: 1.15em;
    font-weight: 600;
    border: none;
    margin-top: 20px;
}


#restart:hover,#next-round:hover{
    transform: scale(1.15);
    cursor: pointer;
}
/*Class Styling*/

.game-container{
    display: flex;
    flex-direction: column;
    max-width: 45%;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
}

.board{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 15px;
    padding: 10px;
}

.tic-square{
    height: 100px;
    width: 100px;
    font-size: 3.5em;
    font-weight: 700;
}

.tic-square:hover{
    box-shadow: 0px 0px 10px aqua;
}

.alt-hover:hover{
    box-shadow: 0px 0px 0px var(--oxford-blue);
    cursor: not-allowed;
    opacity: 1;
    filter: none;
}

.disabled{
    display: none;
}

.one{
    color: lime;
}

.two{
    color: #FB4D3D;
}